header{
	width: 100%;
	height: 200px;
	
	

}

nav{
	padding: 5px;
	border: 2px solid grey;
}

footer{
	color: orange;
	font-size: 0.9em;
	background: grey;
}

article{
	background: orange;
}

time{
	padding: 5px;
}